<div class="chat_block">
  <div class="chat_content_propaty">
    <div class="chat_content_name">
      <%= message.user.name %>
    </div>
    <div class="chat_content_date">
      <%= l message.created_at %>
    </div>
  </div>
  <div class="chat_content_propaty">
    <div class="chat_content_text">
      <%= message.content %>
    </div>
  </div>
</div>