<div class="header_side_bar">
  <div class="user_name">
    <a href="#">Tom</a>
  </div>
  <div class="create_chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="center_side_bar">
  <div class="chat_room">
    <a href="#">My room</a>
  </div>
  <div class="chat_room">
    <a href="#">My room</a>
  </div>
  <div class="chat_room">
    <a href="#">My room</a>
  </div>
  <div class="chat_room">
    <a href="#">My room</a>
  </div>
  <div class="chat_room">
    <a href="#">My room</a>
  </div>
  <div class="chat_room">
    <a href="#">My room</a>
  </div>
  <div class="chat_room">
    <a href="#">My room</a>
  </div>
  <div class="chat_room">
    <a href="#">My room</a>
  </div>
  <div class="chat_room">
    <a href="#">My room</a>
  </div>
    <div class="chat_room">
    <a href="#">My room</a>
  </div>
    <div class="chat_room">
    <a href="#">My room</a>
  </div>
    <div class="chat_room">
    <a href="#">My room</a>
  </div>
    <div class="chat_room">
    <a href="#">My room</a>
  </div>
    <div class="chat_room">
    <a href="#">My room</a>
  </div>
    <div class="chat_room">
    <a href="#">My room</a>
  </div>
    <div class="chat_room">
    <a href="#">My room</a>
  </div>
    <div class="chat_room">
    <a href="#">My room</a>
  </div>
    <div class="chat_room">
    <a href="#">My room</a>
  </div>
    <div class="chat_room">
    <a href="#">My room</a>
  </div>
    <div class="chat_room">
    <a href="#">My room</a>
  </div>
    <div class="chat_room">
    <a href="#">My room</a>
  </div>
  
</div>